.sectionGalery{
    display: flex;
    width: 900px;
    height: 430px;
}

.imgGalery {
    border: 1px solid rgba(0, 0, 0, 0.325);
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.imgGalery:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

